<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Course</h1>
<form method="post" action="/courses/new_course">
    <label for="course_name">Course name</label>
    <br>
    <textarea id="course_name" name="course_name" rows="4" cols="50" required></textarea>
    <br>
    <label for="description">description</label>
    <br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea>
    <br>
    <button type="submit">Создать</button>
</form>
</body>
</html>